.Galeria {
	width: 100%;
	margin-top: 5%;

}
	.Galeria article{
		width: 30%;
		display: inline-block;
		height: 300px;
		border: 1px solid black;
		text-align: center;
	}
		.Galeria article h3{
			margin-top: 20px;
		}
	#slideshow {
		width: 70%;
		height:300px;
		float: left;
		border: 1px solid black;
		padding-top: 10px
	}
		#img{
			width: 95%;
			height: 95%;
			margin: auto;
			border: 1px solid black;
			
		}
